<div class="parent">
    <h3>{{city}} city weather forecast for every 3 hours</h3>

    <ol>
        <li *ngFor="let weather of weatherArr" class="city-weather">
            Temperature: {{weather['main']['temp']}}, Sea Level: {{weather['main']['sea_level']}}
        </li>
    </ol>
</div>