
.flex-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('src/assets/weather.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 35px;
    font-size: 16px;
    border-radius: 25px;
}

h3 {
    position: relative;
}

@media (max-width: 800px) {
    .flex-container {
        height: 1250px;
        flex-direction: column;
    }
}