<div class="flex-container">
    <div>
        <a [routerLink]="" (click)="onClick('London')">
            <h3>London</h3>
        </a>
        <span>Temperature</span> : <span>{{londonInfo['temperature']}} &deg;C</span><br>
        <span>Sunrise</span> : <span>{{londonInfo['sunrise']}} am</span><br>
        <span>Sunset</span> : <span>{{londonInfo['sunset']}} pm</span>
    </div>
    <div>
        <a [routerLink]="" (click)="onClick('Paris')">
            <h3>Paris</h3>
        </a>
        <span>Temperature</span> : <span>{{parisInfo['temperature']}} &deg;C</span><br>
        <span>Sunrise</span> : <span>{{parisInfo['sunrise']}} am</span><br>
        <span>Sunset</span> : <span>{{parisInfo['sunset']}} pm</span>
    </div>
    <div>
        <a [routerLink]="" (click)="onClick('Rome')">
            <h3>Rome</h3>
        </a>
        <span>Temperature</span> : <span>{{romeInfo['temperature']}} &deg;C</span><br>
        <span>Sunrise</span> : <span>{{romeInfo['sunrise']}} am</span><br>
        <span>Sunset</span> : <span>{{romeInfo['sunset']}} pm</span>
    </div>
    <div>
        <a [routerLink]="" (click)="onClick('Venice')">
            <h3>Venice</h3>
        </a>
        <span>Temperature</span> : <span>{{veniceInfo['temperature']}} &deg;C</span><br>
        <span>Sunrise</span> : <span>{{veniceInfo['sunrise']}} am</span><br>
        <span>Sunset</span> : <span>{{veniceInfo['sunset']}} pm</span>
    </div>
    <div>
        <a [routerLink]="" (click)="onClick('Zurich')">
            <h3>Zurich</h3>
        </a>
        <span>Temperature</span> : <span>{{zurichInfo['temperature']}} &deg;C</span><br>
        <span>Sunrise</span> : <span>{{zurichInfo['sunrise']}} am</span><br>
        <span>Sunset</span> : <span>{{zurichInfo['sunset']}} pm</span>
    </div>
</div>